page-prezavis {

	.imgprez{
		width: 20%;

	}
	.nom{
		margin-left: 40%;
		margin-top: -19%;

	}
	.avis{
		margin-top: 9%;
		margin-right: 5%;
		margin-left: 5%;
		border: 1px solid #CEF6D8;
	    font-weight: normal;
	    background: #CEF6D8;

	}

}
