page-mes-alertes {
	#supr{

		margin-left: 84%;
		margin-top: -25%;
	}
	.nom{
	    border: 1px solid #81F7D8;
	    font-weight: normal;
	    background: #81F7D8;
	   	margin-left: 1%;
	   	margin-right: 60%;
	   	margin-top: 1%;
	    padding: 5px;
	}
}
