page-ajouts-avis-modal {

	#textavis {
		width: 100%;
	}

	#select{
	
	}

	.intro{
	
		text-align: center;
	    border: 1px solid #CEF6D8;
	    font-weight: normal;
	    background: #CEF6D8;
	    margin: auto;
	    padding: 5px;

	}


}
